.card {
  background-color: #f6f3f399;
  border-radius: 10px;
  padding: 0.5em 0.8em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.currency > label {
  font-size: 1.25rem;
  font-weight: 500;
}

.input {
  background-color: #fff;
  border: 1px solid #d7d5d5;
  border-radius: 6px;
  font-size: 1.25rem;
  padding: 0.3em 0.5em;
  display: flex;
  align-items: center;
}

.input > input {
  background-color: inherit;
  border: none;
  width: 100%;
}

.input > span {
  text-transform: uppercase;
  color: #7e7e7e;
}

.switchBtn {
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: 1px solid #d7d5d5;
  border-radius: 1000px;
}

.switchBtn:hover {
  background-color: #ececec;
}

.switchBtn > img {
  width: 30px;
  height: 30px;
}

.shortcuts {
  display: flex;
  margin-top: 0.5em;
  gap: 0.5em;
}

.shortcuts > button {
  background-color: #ffd500;
  border: none;
  border-radius: 4px;
  padding: 0.6em;
  width: 100%;
  color: black;
}

.shortcuts > button:hover {
  background-color: #e1bc02;
}
